.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 20vh);
}

.login--container {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #eee;
  border-radius: 40px;
  padding: 40px;
  color: #eee;
  min-height: 550px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login--container h2 {
  font-size: 24px;
  text-align: center;
  margin-top: -10px;
}

.login--container_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form--input {
  margin-bottom: 15px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 14px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  color: white;
}

::-webkit-input-placeholder {
  color: #a5a5a5;
}

:-ms-input-placeholder {
  color: #a5a5a5;
}

::-ms-input-placeholder {
  color: #a5a5a5;
}

::placeholder {
  color: #a5a5a5;
}

.form--input:focus {
  outline: none;
}

.form--input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.form--checkbox {
  margin: 6px 0 30px;
  font-size: 15px;
}

#remember:hover {
  cursor: pointer;
}

.button {
  background-color: #263092;
  color: white;
  font-size: 17px;
  padding: 8px;
  border: transparent;
  border-radius: 8px;
  border-bottom: 2px solid #242323;
  border-right: 2px solid #242323;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.login--container a:hover {
  text-decoration: underline;
}

.login--container_socialmedia div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin: 10px 0;
}

.login--container_socialmedia div a img {
  height: 32px;
  margin-right: 10px;
}

.login--container_forgetpass {
  margin-top: 30px;
  font-size: 15px;
}

.login--container_forgetpass {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .login--container {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}
/*# sourceMappingURL=login.css.map */